.container {
    margin: 0;
}
.about-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.corinthia {
    font-size: 50px;
    font-family: 'Corinthia', cursive;
}
  
.pic {
    border-radius: 50%;
    box-shadow: 5px 5px #888888;
    height: 200px;
    width: auto;
}

.mobile-picture {
    display: none;
}

.about-me {
    justify-content: flex-start;
    padding: 1em;
}

header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: url('../../assets/img/fullsize/watercolor-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

header.masthead h1, header.masthead .h1 {
    font-size: 2.25rem;
}

.btn {
    box-shadow: 5px 5px 5px darkgray;
}

.btn:active {
    box-shadow: inset 0px 0px 5px darkgray;
}

@media (min-width: 992px) {
    header.masthead {
        height: 100vh;
        min-height: 40rem;
        padding-top: 4.5rem;
        padding-bottom: 0;
    }
    header.masthead p {
        font-size: 1.15rem;
    }
    header.masthead h1, header.masthead .h1 {
        font-size: 3rem;
    }
}

@media (min-width: 1200px) {
    header.masthead h1, header.masthead .h1 {
        font-size: 3.5rem;
    }
}

@media (max-width: 500px) {
    .pic {
        display: none;
    }

    .mobile-picture {
        display: block;
        border-radius: 50%;
        box-shadow: 5px 5px #888888;
        height: 200px;
        width: auto;
        justify-self: center;
    }
}
  