<header id='masthead' class="masthead">
    <div class="container-fluid px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-black font-weight-bold">Full-Stack Web Developer </h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline about-section">
                <img class = 'pic' src ='./assets/img/fullsize/headshot.jpeg' />

                <div class='col'>
                    <img class = 'mobile-picture' src ='./assets/img/fullsize/headshot.jpeg' />
                    <p class="text-black corinthia">Hello!</p>
                    <p class="text-black mb-5 about-me">
                        I'm Tiffany - a full stack web developer at Talent Path in Houston, TX. 
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.
                    </p>
                </div>
            </div>
            <div class="col-lg-8 align-self-baseline ">
                <button go-click="/skills" id='portfolio-btn' class="btn btn-outline-secondary btn-xl">See my portfolio</button>
            </div>
        </div>
    </div>
</header>